---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ k8s_namespace }}-dashboard-auth"
  namespace: "{{ k8s_namespace }}"
type: Opaque
data:
  users: "{{ (traefik_dashboard_user + ':' + traefik_dashboard_pass | password_hash('bcrypt', traefik_salt)) | b64encode }}"
