---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ traefik_namespace }}-dashboard-auth"
  namespace: "{{ traefik_namespace }}"
type: Opaque
data:
  users: "{{ (traefik_dashboard_user + ':' + traefik_dashboard_pass | password_hash('bcrypt', traefik_salt)) | b64encode }}"
