---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: default
  namespace: {{ traefik_dashboard_namespace }}
spec:
  chain:
    middlewares:
      - name: default-defaultmiddleware@kubernetescrd
      - name: {{ traefik_dashboard_namespace }}-auth@kubernetescrd
