---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: dashboard-ui
  namespace: {{ traefik_dashboard_namespace }}
  annotations:
    kubernetes.io/ingress.class: traefik
{% if traefik_certmanager_issuer | length > 0 %}
    cert-manager.io/issuer: {{ traefik_certmanager_issuer }}
{% endif %}
spec:
  entryPoints:
    - websecure
  routes:
    - kind: Rule
{% if traefik_dashboard_fqdn | length > 0 %}
      match: 'Host(`{{ traefik_dashboard_fqdn }}`) && (PathPrefix(`/`) || PathPrefix(`/api`))'
{% else %}
      match: 'PathPrefix(`/api`) || PathPrefix(`/`)'
{% endif %}
      middlewares:
        - name: {{ traefik_dashboard_namespace }}-default@kubernetescrd
      services:
        - name: api@internal
          kind: TraefikService
{% if traefik_certmanager_enable %}
  tls:
    secretName: {{ traefik_certmanager_secret }}
{% endif %}
