---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: dashboard
  namespace: {{ traefik_dashboard_namespace }}
  annotations:
    kubernetes.io/ingress.class: traefik-external
spec:
  entryPoints:
    - websecure
  routes:
    - kind: Rule
{% if traefik_dashboard_fqdn | length > 0 %}
      match: 'Host(`{{ traefik_dashboard_fqdn }}`)'
{% else %}
      match: 'PathPrefix(`/api`) || PathPrefix(`/dashboard`)'
{% endif %}
      middlewares:
        - name: {{ traefik_dashboard_namespace }}-default@kubernetescrd
      services:
        - name: api@internal
          kind: TraefikService
