---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: default
  namespace: "{{ traefik_namespace }}"
spec:
  chain:
    middlewares:
      - name: default-default@kubernetescrd
      - name: dashboard-basicauth
