---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: "{{ k8s_namespace }}-dashboard"
  namespace: "{{ k8s_namespace }}"
  annotations:
    kubernetes.io/ingress.class: traefik-external
spec:
  entryPoints:
    - websecure
  routes:
    - kind: Rule
      match: "{{ 'Host(`{{ traefik_dashboard_fqdn }}`)' if traefik_dashboard_fqdn | length > 0 else 'PathPrefix(`/api`) || PathPrefix(`/dashboard`)' }}"
      middlewares:
        - name: default
          namespace: "{{ k8s_namespace }}"
      services:
        - name: api@internal
          kind: TraefikService
