---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: default
  namespace: traefikdashboard
spec:
  chain:
    middlewares:
      - name: default-defaultmiddleware@kubernetescrd
      - name: basicauth@kubernetescrd
