---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: defaultmiddleware
  namespace: default
spec:
  chain:
    middlewares:
      - name: default-compress@kubernetescrd
      - name: default-securityheaders@kubernetescrd
